body{
  overflow-x: hidden;
  background-color: white;
}
.navbar {
  list-style: none;
  background: rgb(255, 209, 1);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  height: 100px;
  position: sticky;
}
.navbar li {
 color: black;
 font-family: "Bebas Neue", sans-serif;
 margin-left: 30px;
 margin-top: 30px;
 font-weight: 600;
 font-size: 18px;
 width: 150px;
 
}
.left{
position: relative;
left: 90px;
}    
.image1{
    position: relative;
    bottom: 25px;
}
.navbar li a {
  display: inline-block;
  text-align: center;
  padding: 8px 8px;
  color:rgb(9, 8, 8);
  text-decoration: none;
  margin-left: 20px;
}
.svg{
    position: relative;
    left: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: rgb(255, 209, 1);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 330px;
}
.div{
    background-color: white;
    text-align: start;
    padding-top: 5px;
    margin: 0px;
    width: 184px;
    height: 25px;
    position: relative;
    right: 50px;
    bottom: 10px;
}
.div1{
    background-color: white;
    text-align: start;
    padding: 0px;
    margin: 0px;
    width: 184px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 35px;
}
.div2{
    background-color: white;
    text-align: start;
    padding: 0px;
    margin: 0px;
    width: 184px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 60px;
}
.div3{
    background-color: white;
    text-align: start;
    padding: 0px;
    margin: 0px;
    width: 184px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 83px;
}
.div4{
    background-color: white;
    text-align: start;
    padding: 0px;
    margin: 0px;
    width: 184px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 108px;
}
.div5{
    background-color: white;
    text-align: start;
    padding: 0px;
    margin: 0px;
    width: 184px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 183px;
}
.div6{
    background-color: white;
    text-align: start;
    padding: 0px;
    margin: 0px;
    width: 184px;
    height: 30px;
    position: relative;
    right: 50px;
    bottom: 205px;
}

/* Dropdown items */
.dropdown-menu li a {
  display: block;
  color: black;
}

.dropdown-menu li a:hover {
  border: 3px solid rgb(255, 209, 1);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
.image2{
  margin-top:35px;
  margin-right: 20px;
}
.b1{
  text-align: center;
  margin-top: 2px;
  position: relative;
  left: 49px;
  height: 30px;
  width: 200px;
  background-color: white;
  border: 1.5px solid yellow;
  font-family: "Bebas Neue", sans-serif;
}
.b2{
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 12px;
  margin: 5px;
  width: 90px;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
  bottom: 80px;
  left: 550px;
}
.b2:hover{
  background-color: gray;
}
.image3{
  height: 350px;
  width: 520px;
  margin-left: 60px;
}
.image4{
  height: 350px;
  width: 520px;
  margin-left: 60px;
}
.box1{
  float: left;
}
.box4{
  float: left;
}
.box2{
  float: right;
  margin: 120px;
  font-family: "Bebas Neue", sans-serif;
  color: #595b71;
  font-size: 30px;
}
.b3{
  text-align: center;
  float:right;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin: 5px ;
  padding: 10px;
  width: 90px;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
  left: 380px;
  bottom: 100px;
}
.b3:hover{
  background-color: gray;
}
.box3{
  float: right;
  margin: 50px;
  font-family: "Bebas Neue", sans-serif;
  color: #595b71;
  font-size: 30px;
  position: relative;
  right: 40px;
}
.b4{
  text-align: center;
  float:right;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin: 5px ;
  padding: 10px;
  width: 90px;
  font-family: "Bebas Neue", sans-serif;
  position: relative;
  left: 280px;
  top: 300px;
}
.b4:hover{
  background-color: gray;
}
.text2{
  text-align: centre;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  top: 500px;
  left: 500px;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
}
.line{
  width: 300px;
  height: 5px;
  border-radius: 30px;
  background-color: rgb(255, 208, 0);
  border: 1px solid yellow;
  position: relative;
  top: 155px;
  right: 240px;
}
.container{
 display: flex;
 align-items: center;
 position: relative;
 right: 200px;
 width: 100%;
 margin-left: 220px;
 margin-top: 200px;

}
.box7{
  width: 80vw;
  height: 400px;
  
  
}
.box5{
  width: 80vw;
  height: 400px;
 
}
.box6{
  width: 80vw;
  height: 400px;
}
.container2{
  width: 100%;
  height: 60vh;
  background-color: #f6f5f3;
  position: relative;
  bottom: 100px;
}